<div class="discuss">
  <h2>共有{{ remarks | length }}个评论</h2>
  <form class="remark" action="/remark/blog/" method="post">
    {% csrf_token %}
    <textarea name="content" cols="30" rows="3" placeholder="来说两句吧"></textarea>
    <br>
    <input class="remark-submit" type="submit" value="提交">
  </form>
  {% for item in remarks %}
  <div class="remark-item">
    <div class="user">{{ item.username }}</div>
    <p class="content">{{ item.content }}</p>
    <div class="publish-time">{{ item.publish_time | date:'Y-g-j' }}</div>
  </div>
  {% endfor %}
</div>
