<div class="cover"></div>
<form class="window login-window" action="/login/signin/" method="post">
   {% csrf_token %}
  <h2>登陆</h2>
  <div class="close"></div>
  <input class="user-input" type="text" placeholder="用户名是" name="username">
  <br>
  <input class="passwd-input" type="password" placeholder="密码是" name="passwd">
  <br>
  <input id="sign-in" type="submit" value="sign in">
  <input id="sign-up-btn" type="button" value="sign up">
</form>
<form class="window signup-window" action="/login/signup/" method="post">
   {% csrf_token %}
  <h2>注册</h2>
  <div class="close"></div>
  <input class="user-input" type="text" placeholder="请输入用户名" name="username">
  <br>
  <input class="passwd-input" type="password" placeholder="请输入密码" name="passwd">
  <br>
  <input class="passwd-ensure" type="password" placeholder="确认密码">
  <br>
  <input id="sign-up" type="submit" value="sign up">
</form>
