<nav>
  <div class="logo"><a href="/index.html">MaoZz</a></div>
  <ul>
    <li><a href="/index.html">home</a></li>
    <li><a href="/blogs">blogs</a></li>
    <li><a href="/demos">demos</a></li>
    <li><a href="/about">about</a></li>
    <div class="arrow"></div>
    {% if islogin %}
      <div class="welcome-msg">hello {{ username }}</div>
      <form action="/login/logout/" method="post">
        {% csrf_token %}
        <input class="logout" type="submit" value="退出">
      </form>
    {% else %}
      <input class="login" type="button" value="登陆">
    {% endif %}
  </ul>
</nav>
