<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <script src='{% static "login.js" %}'></script>
    <link href='{% static "base.css" %}'rel='stylesheet' type='text/css'>
    <link href='{% static "article.css" %}'rel='stylesheet' type='text/css'>
    <title></title>
</head>
<body>
  <nav>
    <ul>
      <li><a href='/index.html'>每周一文</a></li>
      <li><a href='/all.html'>全部文章</a></li>
      <li><a href='/cooperation.html'>合作</a></li>
      <li class='thepage'><a href='/about.html'>关于</a></li>
      <li class='login'><a href='login'>登入</a></li>
    </ul>
  </nav>

  <div class='article not-index'>
    <div class="msg">
      <h2 class='title'>关于</h2>
      <div class="published-time">发表于<span>2015-10-20</span></div>
      <div class="comment-count"><span>{{ msg.comment_count }}</span>评</div>
      <div class="view-num"><span>{{ msg.view_num }}</span>阅</div>
    </div>
    <div class='main'>
      <p>坦诚而言，我的前端职业生涯谈不上多么靓丽，很大的一个重点可能是在于，我本身对朝九晚五的上班模式一直存有深深的抵触，却曾一度迫于生存压力束缚于此。期间循环挣扎了多次，却也多次被打回原型。终于在2016年的这年立秋，再次任性地丢下原有的工作，全职于Layui。</p>
      <p>于是乎就这样，我已然成为梦寐以求的：自由职业者（虽然也并不自由的样子）</p>
      <p>Github主页：https://github.com/sentsin</p>
      <h3> 【生存】</h3>
      <p>尽管我有拯救宇宙的抱负，但似乎并没有什么卵用。人类的生存方式有很多种，但常理是拼命去赚钱。 有时我在想，为什么一定要赚钱才能生存？ 维持生命与货币交易，为什么会产生关联，是文明定义了这一切，有时觉得文明本身就是一个畸形！正是因为这畸形，所以我们称之为人，而不是神。
      </p>
      <h3> 【杭州】</h3>
      <p>杭州是一座美丽的城市，但自从我2012年来到这里，西子的烟雨朦胧，就慢慢成了雾霾沉沉。横跨东南西北，几乎到处都在修路，到处都在拆房建房，建地铁，俨然就是一个巨大的工地。杭州的美，在于它的历史，宋室文化的底蕴是吸引我选择这里的唯一因素。三年来，尽管我的工作地点在不断变化，但我从未离开过西溪湿地，这里是一种精神的归宿。
      </p>
      <h3> 【追求】 </h3>
      <p>我一直致力于成为自由职业者，不受时空的束缚，但好像这是在讲一个笑话。</p>
      <h3> 【备注】 </h3>
      <p>网站中的所有内容均系原创，未经允许，请勿转载。</p>
      <p>
      贤心 · 杭州
      </p>
    </div>
  </div>

 <footer>
    <div class="url">贤心博客 © sentsin.com</div>
    <div class="link">
      <ul>
        <li>Layui</li>
        <li>Github</li>
        <li>@微博</li>
        <li>旧版</li>
      </ul>
    </div>
  </footer>

</body>
</html>
