<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link href='{% static "base.css" %}' rel='stylesheet' type='text/css'>
    <link href='{% static "article.css" %}' rel='stylesheet' type='text/css'>
    <script src='{% static "login.js" %}'></script>
    <title></title>
</head>
<body>
  <nav>
    <ul>
      <li><a href='/index.html'>每周一文</a></li>
      <li><a href='/all.html'>全部文章</a></li>
      <li class='thepage'><a href='/cooperation.html'>合作</a></li>
      <li><a href='/about.html'>关于</a></li>
      <li class='login'><a href='/login'>登入</a></li>
    </ul>
  </nav>

  <div class='article not-index'>
    <div class="msg">
      <h2 class='title'>合作</h2>
      <div class="published-time">发表于<span>2015-10-20</span></div>
      <div class="comment-count"><span>{{ msg.comment_count }}</span>评</div>
      <div class="view-num"><span>{{ msg.view_num }}</span>阅</div>
    </div>
    <div class='main'>
      <p>layui.com系列平台日均UV 20000，本博客（sentsin.com）日均UV 5000</p>
      <p>如果您对此有一丝的兴趣，如果你想与我进行一些试探性的合作。</p>
      <p>可以联系邮箱：xu@sentsin.com</p>
      <p>合作内容主要包括【广告投放】以及【前端应用开发】</p>
      <p>一、广告等商务合作：</p>
      <p>二、前端应用开发（暂停此项）：</p>
      <p>如果你有不错的项目，急需一个靠谱的前端参与，那么你也许可以考虑一下我，我并非什么大牛，但也应该算是个经验还算凑合的油条，合作意味着，项目的前端部分将得到尽可能佳的保障。[色]</p>
      <p>另外还有其它合作，也可以随时找我哟。 </p>
      <p>
      贤心 · 杭州
      </p>
    </div>
  </div>

 <footer>
    <div class="url">贤心博客 © sentsin.com</div>
    <div class="link">
      <ul>
        <li>Layui</li>
        <li>Github</li>
        <li>@微博</li>
        <li>旧版</li>
      </ul>
    </div>
  </footer>

</body>
</html>
