/* a default style */
a {
    text-decoration: none;
    color: #000;
}
a:hover{
    color: #229;
}
a:link{
    color: #000;
}

/*------------------------------------*/
body{
    background: url(img/background.jpg);
}

/*-----------------------------------*/
/* 头部 */
.header{
    width: 800px;
    height: auto;
    margin: 50px auto;
}
.logo{
    width: 150px;
    height: 100px;
    float: left;
}
h1{
    letter-spacing: 5px;
    margin-left: 50px;
}
h1 span{
    letter-spacing: 2px;
}
nav ul{
}
nav>ul>li{
    list-style: none;
    margin-left: 20px;
    margin-right: 50px;
    display: inline;
    font-weight: bold;
    font-size: 17px;
}
.cutoff-rule{
    margin: 0 auto;
    height: 2px;
    width: 700px;
    background: #000;
}
/*-----------------------------------*/

/* main */
.main{
    width: 800px;
    height: auto;
    margin: 40px auto;
}
.main>h2{
    text-align: center;
}
