/* css-reset */
*{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none;}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background: #3a3a62;
}
.logo{
    margin: 50px 50px;
    font: 30px/50px Tahoma;
}
.logo a{
    color: #fff;
}

nav ul{
    margin: 100px 50px;
    font: 20px/30px 'Simsun';
}
nav ul a{
    display: inline-block;
    width: 100px;
}

.arrow{
    position: absolute;
    top: 200px;
    right: 50px; 
    transition: top 0.3s linear;
}
.arrow::after{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    border: 15px solid transparent;
    border-right-color: #d2f6fc;
}
.arrow::before{
    content: '';
    position: absolute;
    right: -50px;
    top: 0;
    width: 50px;
    height: 30px;
    background: #d2f6fc;
    box-shadow: 0 1px 2px #333;
}
        
nav li{
    margin-top: 10px;
}
nav li a{
    color: #aaa;
    text-decoration: none;
}

.welcome-msg{
  margin-top: 30px;
  width: 50px;
  line-height: 25px;
  color: #fff;
  position: relative;
}
.welcome-msg::before{
  position: absolute;
  top: -8px;
  left: -50px;
  width: 200px;
  height: 2px;
  background: #aaa;
  content: '';
}

.logout,
.login{
  margin-top: 30px;
  width: 50px;
  line-height: 25px;
  background: #d2f6fc;
  display: block;
  border-radius: 5px;
  outline: none;
  border: none;
  position: relative;
  top: 0;
  left: 0;
  box-shadow: 2px 2px 1px #aaa;
}
.logout:active,
.login:active{
  top: 2px;
  left: 2px;
  width: 48px;
  line-height: 23px;
  box-shadow: 1px 1px 1px #aaa;
}

.container{
    margin-left: 200px;
    background: #dbe2ef;
    border-top: 1px solid transparent;
} 


footer{
    text-align: center;
    margin: 20px 250px;
    padding-top: 10px;
    border-top: 2px solid #aaa;
}

.cover{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.3;
  display: none;
}
.login-window{
  display: none;
  position: fixed;
  top: 30%;
  left: 30%;
  width: 30%;
  height: 40%;
  background: #3a3a62;
  border-radius: 10px;
  text-align: center;
  opacity: 0.9;
}
.login-window h2{
  text-align: center;
  padding: 5px;
  color: #eee;
}
.login-window input{
  width: 200px;
  line-height: 30px;
  font-size: 20px;
  margin: 10px;
  background: transparent;
  color: #eee;
  border: none;
  border-bottom: 3px solid #aaa;
}

#sign-in,
#sign-up{
  background: #39daf7;
  border: none;
  color: #444;
  border-radius: 3px;
}
#sign-in:active,
#sign-up:active{
  background: #2eb872;
}
.login-window input:focus{
  outline: none;
  border-color: #fff;
}

.close{
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background: #3a3a62;
}
.close::before{
  width: 100%;
  height: 6px;
  content: '';
  position: absolute;
  top: calc(50% - 3px);
  left: 0;
  transform: rotate(45deg);
  background: #fff;
  border-radius: 3px;
}
.close::after{
  width: 100%;
  height: 6px;
  content: '';
  position: absolute;
  top: calc(50% - 3px);
  left: 0;
  transform: rotate(-45deg);
  background: #fff;
  border-radius: 3px;
}
