<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Maozz's blog</title>
  {% load static %}
  <link href="{% static 'blog/css/base.css' %}" rel="stylesheet">
  <link href="{% static 'blog/css/index.css' %}" rel="stylesheet">
  <script src="{% static 'blog/js/base.js' %}"></script>
</head>
<body>
{% include 'common/nav.html' %}

<div class="container">
  <div class="card-wrap">
    {% for post in posts %}
    <div class="card">
      <h2>{{ post.title }}</h2>
      <p class="intro">{{ post.intro }}</p>
      <div class="msg">
        <div class="tag">
          <div class="icon-tag"></div>
          {% for tag in post.tags.all %}
          <span>{{ tag.name }}</span>
          {% endfor %}
        </div>
        <div class="view"><a href="/detail/{{ post.id }}">detail</a></div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% include 'common/footer.html' %}
{% include 'common/login.html' %}
</body>
</html>
