*{margin: 0; padding: 0;}
.content{
  background: #fff;
  margin: 50px 100px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #aaa;
}
.content h2{
  padding: 20px;
}

.trunk{
  position: relative;
  min-height: 400px;
}
.trunk::before{
  width: 2%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 49%;
  background: #459d72;
  content: '';
}

.branch{
  background: #90d26d;
  text-indent: 1em;
  border-radius: 2px;
  padding: 1%;
}
.major{
  margin-left: 7%;
  margin-top: 20px;
  width: 40%;
  font-size: 18px;
  line-height: 22px;
}
.minor{
  margin-left: 51%;
  width: 25%;
  font-size: 16px;
  line-height: 20px;
  margin-top: 10px;
}
.event-detail{
  color: #3a3a64;
}
