.discuss:hover{
  width: 300px;
  height: auto;
  max-height: 500px;
  overflow-x: hidden;
  overflow-y: scroll;
  position: fixed;
  top: 50px;
  right: 10px;
  background: #fff;
  box-shadow: 3px 3px 3px #aaa;
  border-radius: 5px;
}
.discuss{
    width: 300px;
    height: 50px;
    position: fixed;
    top: 0;
    right: 10px;
    background: #fff;
    transition: all 0.5s linear;
    border-left: 5px #aaa solid;
}
.discuss *:not(h2){
    display: none;
}
.discuss:hover *:not(.remark-submit){
    display: block;
}

.remark{
  width: 90%;
  margin-left: 5%;
  background: #f8f9fa;
  text-align: center;
}
.remark textarea{
  margin: 10px;
  border-radius: 2px;
  resize: none;
  overflow-y: visible;
  font-size: 16px;
  line-height: 25px;
  text-indent: 1em;
}
.remark textarea:focus{
  border-color: #3a3aef;
}
.remark textarea:focus ~.remark-submit{
  display: inline-block;
}
.remark-submit{
  width: 50px;
  margin-bottom: 10px;
  line-height: 25px;
  background: #d2f6fc;
  display: none;
  border-radius: 5px;
  outline: none;
  border: none;
  position: relative;
  top: 0;
  left: 0;
  box-shadow: 2px 2px 1px #aaa;
}
.remark-submit:active{
  display: inline-block;
  top: 2px;
  left: 2px;
  width: 48px;
  line-height: 23px;
  box-shadow: 1px 1px 1px #aaa;
}

.discuss h2{
  text-align: center;
  padding: 10px;
  color: #333;
}

.remark-item{
    width: 240px;
    margin: 10px 20px;
    border-top: 5px solid #3a3a62;
    padding: 10px;
    border-radius: 5px;
}

.user{
    color: #3a3a62;
    font-size: 20px;
    margin-bottom: 5px;
}
.content{
    margin: 5px;
    text-indent: 1em;
    color: #333;
    font-size: 16px;
    line-height: 20px;
}
.publish-time{
    color: #666;
}
